.input1 {
    width: 400px; 
    height: 100px;
}
.row{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.imggrid{
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 300px;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
  
}

.imggrid:hover{
    box-shadow: 0.1rem 0.2rem 0.3rem rgb(39, 38, 38);
}

.card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
    
}

.card:hover{
    box-shadow: 0.1rem 0.2rem 0.3rem rgb(39, 38, 38);
}

.fecha{
    font-size: 0.8rem;
    color:rgb(92, 91, 91);
    float: right;
    margin-top: 0;
    padding: 0;
}


